/* CSS declarations go here */

body, html {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 1.42em;
  font-weight: normal;
}

nav {
  padding-top: 10px;
}

nav a {
  color: white !important;
}
